
@{
    ViewBag.Title = "AssignRole";
}

<h2>AssignRole</h2>
@using (Html.BeginForm("AssignUserRole", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">User Name</label>
            <input type="text" name="txtUserName" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="control-label">Select Role</label>
            @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
    <p>Available roles to assign:</p>
    <p>SuperAdmin- control over all users and articles</p>
    <p> Senior - able to add, edit, delete articles, comment, rank and vote for articles</p>
    <p> Junior - able to comment and vote for articles</p>
}
