@model IEnumerable<MoneyBlog.DataLayer.Models.AspNetUser>
@using MoneyBlog.DataLayer.Models


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @*<li>@Html.ActionLink("Create User Role", "CreateUserRole", "Admin")</li>*@
    <li>@Html.ActionLink("Assign User Role", "AssignUserRole", "Admin")</li>
</ul>
<p>All registered users:</p>
@Html.ActionLink("All users&details", "UsersWithRoles", "Admin")

