@model MoneyBlog.Web.ViewModels.UserDetailsViewModel

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>
    <table class="table">
        <tr>
            <td>
                user Id : @Model.UserId
            </td>
        </tr>
        <tr>
            <td>
               User Email:  @Model.Email
            </td>

        </tr>
        <tr>
            <td>
                User's role : @Model.RoleName
            </td>

        </tr>
        </table>
