@model MoneyBlog.Web.ViewModels.UserDetailsModel

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <tr>
        <td>
            @Model.UserId
        </td>
    </tr>
    <tr>
        <td>
            @Model.Email
        </td>

    </tr>
    <tr>
        <td>
            @Model.RoleName
        </td>

    </tr>
