@model MoneyBlog.DataLayer.Models.AspNetUser


    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <tr>
        <td>
            @Model.Id
        </td>
    </tr>
    <tr>
        <td>
            @Model.Email
        </td>

    </tr>
